{% extends "layout.html" %} {% block title %}{{job['title']}}{% endblock %} {%
block body %}

<div class="container">
  <h1 class="text-center mt-2 mb-4">{{job['title']}}s</h1>
  <div class="row" style="margin-bottom: 32px">
    <div class="col-md-6">
      <p class="lead">
        {{job['location']}}
      </p>
    </div>
    <div class="d-none d-md-block col-md-6">
      <img
        src="/static/people.jpeg"
        style="height: 320px; border-radius: 4px"
      />
    </div>
  </div>
  {% include 'application_form.html' %}
</div>
{% endblock %}
